#leadForm textarea {
  height: 170px;
  resize: none;
}

#leadForm button {
  font-size: 1.5em;
  -webkit-animation-duration: 1.7s;
          animation-duration: 1.7s;
}

@media (max-width: 500px) {
  #leadForm button {
    font-size: .9em;
  }
}

@media (max-width: 500px) {
  .download-section a {
    font-size: 1.1em;
  }
}

#offer {
  padding-top: 50px;
}

#offer p u {
  color: #42DCA3;
}

#offer h3 u {
  color: #42DCA3;
}

#offer img {
  max-width: 350px;
  margin-bottom: 30px;
}

#offer button {
  max-width: 350px;
}

@media (max-width: 500px) {
  #offer img {
    max-width: 320px;
    margin-bottom: 30px;
  }

  #offer button {
    max-width: 320px;
    font-size: .9em;
  }
}

