#offer {
  padding-top: 50px;
}

#offer p u {
  color: #42DCA3;
}

#offer h3 u {
  color: #42DCA3;
}

#offer img {
  max-width: 350px;
  margin-bottom: 30px;
}

#offer button {
  max-width: 350px;
}

@media (max-width: 500px) {
  #offer img {
    max-width: 320px;
    margin-bottom: 30px;
  }

  #offer button {
    max-width: 320px;
    font-size: .9em;
  }
}