#leadForm textarea {
  height: 170px;
  resize: none;
}

#leadForm button {
  font-size: 1.5em;
  animation-duration: 1.7s;
}

@media (max-width: 500px) {
  #leadForm button {
    font-size: .9em;
  }
}